<div class="sidebar-container">
  <div class="navbar">
    <div class="radio-wrapper">
        <div class="radio red">

            <mat-icon class="radio-control">close</mat-icon>
        </div>
        <div class="radio orange">
    
            <mat-icon class="radio-control">remove</mat-icon>
        </div>
        <div class="radio green">
    
            <mat-icon class="radio-control">expand_content</mat-icon>
        </div>
    </div>

    <div class="icon-wrapper">
        <img src="assets/img/icon_person.png" class="user-avatar">
        <mat-icon class="navbar-icon">groups</mat-icon>
        <mat-icon class="navbar-icon">change_circle</mat-icon>
        <mat-icon class="navbar-icon">edit_note</mat-icon>
        <mat-icon class="navbar-icon">keyboard_arrow_down</mat-icon>
    </div>
   
  </div>
  <div class="searchbar">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Suchen oder neuen Chat beginnen</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput class="search" />
    </mat-form-field>
    <mat-icon class="filter">filter_list</mat-icon>
  </div>
  <div class="convos" *ngIf="us.userData">
    <div class="convo" *ngFor="let contact of us.userData.contacts" (click)="openConvo(contact.convo)">
      <!-- Render user data here -->
      <div class="user-avatar-container">
        <img src="assets/img/icon_person.png" alt="" class="user-avatar" />
        <div class="user-avatar-text">
          <h3>{{ contact.name }}</h3>
          <span>{{ contact.convo[contact.convo.length -1].messageText }}</span>
        </div>
      </div>
      <span class="time">15:50</span>
    </div>
  </div>
  
</div>
